<h1>Angular 12</h1>
<!-- <h4>{{title}}</h4> -->
<!-- <app-header-cmp></app-header-cmp>
<app-header-cmp></app-header-cmp>
<app-user-list></app-user-list>
<app-users-list></app-users-list>
<app-student-list></app-student-list>
<app-country></app-country>
<app-login></app-login> -->
<!-- <button (click)="getName('chamath')">Click ME</button>
<button (click)="getData('Hiii Chamath N')">Click ME</button>
<br/><br/>
<input type="text" placeholder="enter value" (keyup)="getData('keyups')"/>
<br/><br/>
<input type="text" #box1 placeholder="keyup value" (keyup)="getData(box1.value)"/>
<br/><br/>
<input type="text" #box2 placeholder="keydown value" (keydown)="getData(box2.value)"/>
<br/><br/>
<input type="text" #box3 placeholder="blur value" (blur)="getData(box3.value)"/>
<br/><br/>
<input type="text" #box4 placeholder="input value" (input)="getData(box4.value)"/>

<-- input and keydown same -->

<!-- <h1 (mouseover)="getData('mouse over')">Mouse Over</h1>
<h1 (mouseleave)="getData('mouse leave')">Mouse leave</h1> --> 

<!-- <input type="text" #box1 (keyup)="getValue(box1.value)" placeholder="Enter Name" name="username" />
<p> Get Value:{{displayval}} </p> -->

<!-- <input #box2 type="text" placeholder="Enter Name" name="username" />
<button  (click)="getValue(box2.value)">click</button>
<p> Value button:{{displayval}} </p> -->

<!-- <button (click)="counval('minus')">--</button>
<p>count:{{count}}</p>
<button (click)="counval('add')">++</button> -->

<!-- <h1 *ngIf="show else elseBlock">
    if true show message
</h1>
<br>
<ng-template #elseBlock>
    <h1>Else Condition</h1>
</ng-template> -->

<!-- <ng-template [ngIf]="color==='red'">
    <h1 style="color:red">RED COLOR</h1>
</ng-template>

<ng-template [ngIf]="color==='yellow'">
    <h1 style="color:yellow">yellow COLOR</h1>
</ng-template>

<ng-template [ngIf]="color==='indigo'">
    <h1 style="color:indigo">indigo COLOR</h1>
</ng-template> -->

<!-- <div [ngSwitch]="color">
<h1 *ngSwitchCase="'red'" style="color: red;">RED COLOR</h1>
<h1 *ngSwitchCase="'yellow'" style="color:yellow;">YELLOW COLOR</h1>
<h1 *ngSwitchCase="'orange'" style="color:orange;">ORANGE COLOR</h1>
<h1 *ngSwitchCase="'indigo'" style="color:indigo;">INDIGO COLOR</h1>
<h1 *ngSwitchCase="'blue'" style="color:blue;">BLUE COLOR</h1>
<h1 *ngSwitchCase="'palevioletred'" style="color:palevioletred;">ROSE COLOR</h1>
<h1 *ngSwitchDefault>Unknown color</h1>
</div> -->

<!-- <h3 *ngFor="let data of list">Name:{{data}}</h3>
<h3 *ngFor="let data of userDet">User Detail:{{data.name}},{{data.email}},{{data.town}}</h3> -->

<!-- <ul *ngFor="let userdet of userDets">
    <li>{{userdet.name}}</li>
    <li>{{userdet.email}}</li>
    <li>{{userdet.town}}</li>
    <ul *ngFor="let ac of userdet.accounts">
        <li>{{ac}}</li>
    </ul>

</ul> -->
<!-- <h1 [style.color]="color" [style.backgroundColor]="bgcolor">{{title}}</h1>
<button (click)="updatecolor()">update color</button> -->

<!-- <app-header></app-header> -->

<!-- <form #basicForm="ngForm" (submit)="getData(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter User Name"/>
    <br/><br/>
    <input type="text" ngModel name="email" placeholder="Enter User Email"/>
    <br/><br/>
    <input type="text" ngModel name="password" placeholder="Enter User Password"/>
    <br/><br/>
    <button>Register</button>
</form>
<ul>
    <li>{{userData.user}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
</ul> -->

<!-- <button (click)="toggle()">Toggle</button>
<h1 *ngIf="display">Heading Tag</h1> -->

<!-- 
<h2>Send Data Child To Parent Componenet</h2>
<app-child [item]="data"></app-child>
<button (click)="updateData()">Update</button> -->



<!-- <ul *ngFor="let users of userDetails">
    <app-user-details [item]='users'></app-user-details>
</ul> -->

<!-- <li>{{data}}</li>
<app-childex (updateDataEvent)="updateData($event)"></app-childex> -->

<!-- <input type="text" [(ngModel)]="data">
<h4>{{data}}</h4> -->

<!-- <input type="text" #box placeholder="Enter Name">
<button (click)="getVal(box)">click me</button> -->

<!-- <h4>{{title |uppercase}}</h4>
<h4>{{title |lowercase}}</h4>

<h4>{{today|date:'fullDate'}}</h4>

<h2>{{capstring(title)}}</h2> -->

<!-- <h1>{{title|slice:3:8}}</h1>
<h2>{{user|json}}</h2>
<h1>{{003.3400|number:'1.2-3'}}</h1>
<h1>{{100|currency:'INR'}}</h1> -->


<!-- <h1>{{title}}</h1>
<h2>{{30|usdInr:80}}</h2> -->

<h2>{{title}}</h2>

<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
    <input type="text" required #name="ngModel" name="name" pattern="a-zA-Z+$" placeholder="Enter Name" ngModel>
    <br><span *ngIf="name.invalid && name.touched" style="color:red;" pattern="email">Please Enter Valid Input</span><br>
    <input type="password" name="password" minlength="2" required #password="ngModel" placeholder="Enter Password" ngModel>
    <br><br>
    <button [disabled]="loginForm.invalid">Login</button>
</form>

<button (click)="loginUser(loginForm.value)">Outside Login</button>